# Ignore virtual environment
venv/

# Ignore large model results and datasets
results/
*.csv
*.json

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore any other temporary files or large files
*.zip
